@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,700;1,200;1,300&family=Playfair+Display&display=swap');

/*font-family: 'Nunito', sans-serif;
font-family: 'Playfair Display', serif;*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #d3d3d369;
    z-index: 100;
    
}


.navBar{
    display: flex;
    list-style: none;
    width: 400px;
    gap: 1.25rem;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    font-family: 'Nunito', sans-serif;
    font-style: bold;
    font-size: 16px;


} 


.cardImg{
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}

.sectionManifiesto{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 600px;
    background-color:rgb(236, 236, 236)
}

.textoManifiesto {
    padding-left: 20px;

}
.cita{
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    font-size: 30px;
    margin-top: 120px;
}
.autora{
    font-family: 'Nunito', sans-serif;
    font-style: bold;
    font-size: 20px;
    margin-top: 5px;
}

.annaImg img {
    display: flex;
    padding-right: 100px;
    margin-left: 30px;

}

.verMas {
margin-top: 20px;
text-align: center;

}


.sectionColecciones {
    display: flex;
    width: 100%;
    height: 900px;
    flex-flow: row wrap;
    justify-content: space-evenly ;
    align-items: center;
    
}

.headlineColecciones {
    align-self: flex-start;
    margin-top: 40px;
}
.headlineColecciones h2 {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 40px;
    
}
.coleccion {
    width: 500px;
    height: 500px;
    /*border: 1px solid grey; */
    background-color: rgba(247, 246, 210, 0.612);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.445);
}

.holaMensaje {
    width: 891px;
    height: 249px;
    border: 1px solid grey;
    font-family: 'Nunito', sans-serif;
    font-style: bold;
    font-size: 23px;
    margin: 5px;

}
.tuNombre {
    width: 891px;
    height: 92px;
    border: 1px solid grey;
    font-family: 'Nunito', sans-serif;
    font-style: bold;
    font-size: 23px;
    margin: 5px;

}
.tuEmail {
    width: 891px;
    height: 92px;
    border: 1px solid grey;
    font-family: 'Nunito', sans-serif;
    font-style: bold;
    font-size: 23px;
    margin: 5px;

}


.coleccion img{
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    

}
.coleccion img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.container{
    max-width: 1200px;
    margin: 0;
}
.footer{
    background-color: black;
    padding: 40px 0 0 500px;
    text-align: center;
    justify-content: space-evenly;
    

}
.footerRow{
    display: flex;
    flex-wrap: wrap;
    
}
.footerLinks{
    width: 25%;
    padding: 0 15px;
    
    
}
.footerLinks h4{
    font-size: 20px;
    color: white;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid rgba(247, 246, 210, 0.612);
    padding-bottom: 10px;
    display: inline-block;
    
}

.footerLinks ul li a{
    font-size: 18px;
    text-decoration: none;
    color: #BBBBBB;
    display: block;
    margin-bottom: 15px;
    
}

.deMensaje{
    align-items: center;

}
.sectionSofas {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly ;
    align-items: center;
    
}

.citaSillon{
    font-family: 'Nunito', sans-serif;
    font-style: bold;
    font-size: 30px;
    margin-top: 5px;
}
.autoraSillon{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-size: 19px;
    margin-top: 5px;
}


.pNombres{
    font-family: 'Nunito', sans-serif;
    font-style: bold;
    font-size: 18px;
    margin-top: 5px;
}
.pNosotros{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-size: 14px;
    margin-top: 5px;
}
---------
{
background-color: rgba(211, 211, 211, 0.483);
}

.cards-container{
    display: flex;
    width: 80%;
    height: 1800px;
    margin: auto;
    flex-flow: row wrap;/*primer atributo direction / wrap**/
    justify-content:space-evenly;/*propiedad en row que mueve los elementos de izquierda a derecha*/
    align-items: center; 
    
}
.shopBoton{
    text-align: center;

}
.cardc1{
    float: left;
    
}
.card{
    width: 20rem;
    height: 370px;
    border: 1px solid grey;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.445);
    border-radius: .625rem;
}
.c1 {
    background-color: rgb(104, 104, 104);
    align-self: flex-start ;
    
}
.card-img{
    width: 100%;
    height: 370px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .625rem .625rem 0 0 ;
    
}
.card-info{
    color: black;
    display: flex;
    width: 100%;
    height: 70px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-family: 'Nunito', sans-serif;
    font-style: bold;
    font-size: 19px;
}
.parrafoResultado{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-size: 14px;
    margin: 15px 0px 15px 35px;
    height: 5px;
    
}
.categoriashopH2{
    font-family: 'Nunito', sans-serif;
    font-style: bold;
    font-size: 23px;
    margin: 15px 0px 15px 35px;
}

.h3Contacto{
    font-family: 'Nunito', sans-serif;
    font-style: bold;
    font-size: 23px;
}
.pNosotros{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-size: 16px;
}
.conoceNosotros{
    font-family: 'Nunito', sans-serif;
    font-style: bold;
    font-size: 54px;
}
.pNosotros2{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-size: 20px;
}
.tituloContacto{
    background-image: url(../assets/img/imagencontactoprincipal.jpg);
    display: flex;
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    font-family: 'Nunito', sans-serif;
    font-style: bold;
    font-size: 50px;
}
.h2Beneficios{
    font-family: 'Nunito', sans-serif;
    font-style: bold;
    font-size: 29px;
}
.pBeneficios{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-size: 23px;
}
.sectionBeneficios{
    background-color: rgb(219, 219, 219);
}

.h5Confian{
    font-family: 'Nunito', sans-serif;
    font-style: bold;
    font-size: 33px;
}
.pConfian{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-size: 25px;
}

.cajaCliente1 {

    width: 549px;
    height: 322px;
    border: 1px solid grey;
    margin: 5px;

}

.cajaCliente2 {

    width: 549px;
    height: 322px;
    border: 1px solid grey;
    margin: 5px;

}
.pClientes1{
    font-family: 'Nunito', sans-serif;
    font-style: bold;
    font-size: 30px;
}
.pClientes2{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-size: 20px;

}
.sectionNosotros{
 text-align: center;
 align-items: center;
 
    
}

.FormularioTotal{
    display: flex;
    margin: auto;
    flex-flow: row wrap;/*primer atributo direction / wrap**/
    justify-content:space-evenly;/*propiedad en row que mueve los elementos de izquierda a derecha*/
    align-items: center; 
    
}

---------------

