@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,700;1,200;1,300&family=Playfair+Display&display=swap');

/*font-family: 'Nunito', sans-serif;
font-family: 'Playfair Display', serif;*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #d3d3d369;

    
}


.navBar{
    display: flex;
    list-style: none;
    gap: 1.25rem;
    padding-right: 20px;
    font-family: 'Nunito', sans-serif;
    font-style: bold;
    font-size: 16px;

}
.navBar li a {
    text-decoration: none;
    color: black;

} 




.cardImg{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-position: 18% 50% 80%;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    overflow: hidden;


}

.sectionManifiesto{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color:rgb(236, 236, 236)
}


.textoManifiesto {
    padding-left: 20px;


}
.cita{
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    font-size: 30px;
    width: 45%;

}
.autora{
    font-family: 'Nunito', sans-serif;
    font-style: bold;
    font-size: 20px;
    margin-top: 5px;
}



.verMas {
margin-top: 20px;
text-align: center;

}


.holaMensaje {
    width: 891px;
    height: 249px;
    border: 1px solid grey;
    font-family: 'Nunito', sans-serif;
    font-style: bold;
    font-size: 23px;
    margin: 5px;

}
.tuNombre {
    width: 891px;
    height: 92px;
    border: 1px solid grey;
    font-family: 'Nunito', sans-serif;
    font-style: bold;
    font-size: 23px;
    margin: 5px;

}
.tuEmail {
    width: 891px;
    height: 92px;
    border: 1px solid grey;
    font-family: 'Nunito', sans-serif;
    font-style: bold;
    font-size: 23px;
    margin: 5px;

}

.headlineColecciones {
    text-align: center;
    margin: 50px;
    font-family: 'Playfair Display', serif;
    font-style: bold;
    font-size: 23px;
    
}

.coleccionesGrid {
    display: grid;
    justify-content: center;
    width: 100%;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: 700px 700px 700px;
    grid-template-areas: 
    "imgsilla textosilla"
    "textomesa imgmesa"
    "imglampara textolampara"
    ;
    gap: 20px;
}

.h2Colecciones {

    font-family: 'Nunito', sans-serif;
    font-style: bold;
    font-size: 23px;
    text-align: center;
}
.cajaTextosSillas {
    width: 900px;
    height: 580px;
    text-align: center;
    align-self: center;
 }
 .cajaTextosMesas {
    width: 900px;
    height: 580px;
    text-align: center;
    align-self: center;


 }

 .cajaTextosLamparas {
    width: 900px;
    padding-top: 30px;
    height: 580px;
    text-align: center;
    align-self: center;
 }

 
 .pColecciones {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-size: 15px;
    text-align: center;
    width: 900px;
    padding-top: 30px;
 }

.imgSilla{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-left: 100px;
    margin-top: 20px;
}

.imgLampara{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 20px;
    padding-left: 100px;
}
.imgMesa{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.textoSilla {
    grid-area: textosilla;
}

.imgSilla {
    grid-area: imgsilla;
}

.textoMesa {
    grid-area: textomesa;
}

.imgLampara {
    grid-area: imglampara;
}

.pedidoEnvio {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color:rgb(236, 236, 236);
    margin-bottom: 80px;
}

.pedidoEnvio p{
    font-size: 25px;
}


.verMas {
    height: 30px;
    width: 200px;
}
.container{
    max-width: 1200px;
    margin: 0;
}


.deMensaje{
    align-items: center;

}


.sectionSofas {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly ;
    align-items: center;
    
}

.citaSillon{
    font-family: 'Nunito', sans-serif;
    font-style: bold;
    font-size: 30px;
    margin-top: 5px;
}
.autoraSillon{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-size: 19px;
    margin-top: 5px;
}


.pNombres{
    font-family: 'Nunito', sans-serif;
    font-style: bold;
    font-size: 18px;
    margin-top: 5px;
}


.cards-container{
    display: flex;
    width: 80%;
    margin: auto;
    flex-flow: row wrap;/*primer atributo direction / wrap**/
    justify-content:space-evenly;/*propiedad en row que mueve los elementos de izquierda a derecha*/
    align-items: center; 
    row-gap: 10px;  
    column-gap: 10px;
    
}
.shopBoton{
    justify-content: center;
    text-align: center;
    margin: 100px;
    width: 200px;
    height: 30px;


}
.cardc1{
    float: left;
    
}
.card{
    width: 20rem;
    height: 370px;
    border: 1px solid grey;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.445);
    border-radius: .625rem;
}
.c1 {
    background-color: rgb(104, 104, 104);
    align-self: flex-start ;
    
}
.card-img{
    width: 100%;
    height: 370px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .625rem .625rem 0 0 ;
    
}
.card-info{
    color: black;
    display: flex;
    width: 100%;
    height: 70px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-family: 'Nunito', sans-serif;
    font-style: bold;
    font-size: 19px;
}

.botonProducto {
    width: 250px;
    height: 40px;
    background-color: white;
    border-radius: 30px;
}
.parrafoResultado{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-size: 14px;
    margin: 15px 0px 15px 35px;
    height: 5px;
    
}
.categoriashopH2{
    font-family: 'Nunito', sans-serif;
    font-style: bold;
    font-size: 23px;
    padding-left: 20px;
    padding-top: 50px;
}

.h3Contacto{
    font-family: 'Nunito', sans-serif;
    font-style: bold;
    font-size: 23px;
}

.pNosotrostitulo {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-size: 14px;
    text-align: center;

}
.pNosotros{
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    font-size: 18px;
    text-align: center;
    padding-top: 20px;

}
.conoceNosotros{
    font-family: 'Nunito', sans-serif;
    font-style: bold;
    font-size: 54px;
    text-align: center;
}
.pNosotros2{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;


}
.tituloContacto{
    background-image: url(../assets/img/imagencontactoprincipal.jpg);
    display: flex;
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    font-family: 'Nunito', sans-serif;
    font-style: bold;
    font-size: 50px;
}
.h2Beneficios{
    font-family: 'Nunito', sans-serif;
    font-style: bold;
    font-size: 29px;
}
.pBeneficios{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-size: 23px;
}
.sectionBeneficios{
    background-color: rgb(219, 219, 219);
}

.h5Confian{
    padding-top: 20px;
    margin: 20px;    
    font-family: 'Nunito', sans-serif;
    font-style: bold;
    font-size: 33px;
}
.pConfian{
    padding-top: 8px;
    margin: 20px;    
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-size: 25px;
}

.sectionClientes {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.cajaCliente1 {

    width: 549px;
    height: 322px;
    border: 1px solid grey;
    margin: 5px;

}

.cajaCliente2 {

    width: 549px;
    height: 322px;
    border: 1px solid grey;
    margin: 5px;

}
.pClientes1{
    font-family: 'Nunito', sans-serif;
    font-style: bold;
    font-size: 30px;
    margin: 20px;
}
.pClientes2{
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    font-size: 20px;
    margin: 20px;

}
.sectionNosotros{
    display: grid;
    align-self: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 100px;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: auto auto auto;

    grid-template-areas:
    "jocelyn martin jordan"
    "jocelyn martin jordan"
    "jocelyn martin jordan"
    ;
    row-gap: 10px;  
    column-gap: 100px;
    }
    

    .h2Nosotros  {
    text-align: center;
    }
    .MartinDonin {
        grid-area: martin;
        align-self: center;
        width: 310px;
        height: 450px;
        border: 1px solid #bdbaba;    


    }
    .JocelynSchleifer {
        grid-area: jocelyn;
        align-self: center;
        width: 310px;
        height: 450px;
        border: 1px solid #bdbaba;    

    }

    .JordanGomez {
        grid-area: jordan;
        align-self: center;
        width: 310px;
        height: 450px;
        border: 1px solid #bdbaba;    



    }

    .sectionNosotros img {
        justify-content: center;
    }

    .sectionBeneficios{
        display: grid;
        width: 100%;
        height: 30vh;
        padding-top: 30px;
        grid-template: 1fr 1fr 1fr 1fr / repeat(4,1fr);
        grid-template-areas:
        "tienda envio tarjetas devolucion"
        "tienda envio tarjetas devolucion"
        "tienda envio tarjetas devolucion"
        "tienda envio tarjetas devolucion"
        ;
        row-gap: 10px;  
        column-gap: 10px;
        }
        
        .tiendaOnline {
            grid-area: tienda;
        }
        .envioGratis {
            grid-area: envio;

        }
        .tarjetas {
            grid-area: tarjetas;
            
        }
        .devolucion {
            grid-area: devolucion;
        }


.FormularioTotal{
    display: flex;
    margin: auto;
    flex-flow: row wrap;/*primer atributo direction / wrap**/
    justify-content:space-evenly;/*propiedad en row que mueve los elementos de izquierda a derecha*/
    align-items: center; 
    
}


.footerContainerflex{
    background-color: black;
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
    flex-flow: row wrap;

}

.h4Footer {
    color: rgba(199, 199, 199, 0.603);
    font-family: 'Nunito', sans-serif;
    font-style: bold;
    font-size: 16px;
    padding-bottom: 5px;
}

.pFooter {
    color: rgba(216, 214, 214, 0.322);
    font-family: 'Nunito', sans-serif;
    font-style: light;
    font-size: 16px;
}

.cajaFooter {
    width: 120px;
    height: 200px;
    margin: 20px;


}



@media(max-width:480px) {

    .sectionNosotros{
        display: grid;
        width: 100%;
        height: auto;
        grid-template: 1fr 1fr 1fr / 1fr;
        grid-template-areas:
        "jocelyn"
        "martin"
        "jordan"
        ;
        row-gap: 10px;  
        column-gap: 10px;
        }
        
        .MartinDonin {
            grid-area: martin;
        }
        .JocelynSchleifer {
            grid-area: jocelyn;
        }
        .JordanSeptimus {
            grid-area: jordan;
        }

        .conoceNosotros {
            font-size: 35px;

        }

}

@media(max-width:1024px) {

    .sectionBeneficios{
        display: grid;
        width: 100%;
        height: auto;
        padding-left: 10px;
        padding-bottom: 100px;
        grid-template: 1fr 1fr / 1fr;
        grid-template-areas:
        "tienda envio" 
        "tienda envio" 
        "tarjetas devolucion"
        "tarjetas devolucion"
        ;

        }

        .pBeneficios {
            font-size: 16px; 

        }

        
        .h2Beneficios {
            font-size: 24px; 

        }
        
        .tiendaOnline {
            grid-area: tienda;
            width: 150px;

        }
        .envioGratis {
            grid-area: envio;
            width: 150px;

        }
        .tarjetas {
            grid-area: tarjetas;
            width: 150px;

        }
        .devolucion {
            grid-area: devolucion;
            width: 150px;

        }

        @media (max-width:1024px) {

        .coleccionesGrid {
            display: grid;
            justify-content: center;
            width: 100%;
            grid-template-columns: auto;
            grid-template-rows: auto auto auto auto auto auto;
            grid-template-areas: 
            "textosilla"
            "imgsilla"
            "textomesa"
            "imgmesa"
            "imglampara"
            "textolampara"
            ;
        }

        .cajaTextosSillas {
            width: 100%;
            height: 200px;


            }

            .cajaTextosMesas {
                width: auto;
                text-align: center;
                align-self: center;
            
            
            }
            .pColecciones {
                width: 300px;
                text-align: center;
                padding-top: 0px;

            }
            .cajaTextosLamparas {
                width: 900px;
                padding-top: 30px;
                height: 580px;
                text-align: center;
                align-self: center;
            }
            }
    }


@media (max-width:1024px){

    header {
    flex-direction: column;
    justify-content: center;
}

    .navBar{
    flex-direction: column;
    padding-right: 0;
    text-align: center;
    margin: 5px;
    row-gap: 10px;


}
.imgLogo {
padding-top: 10px;
}

}

@media (max-width:1024px){

.sectionClientes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;

}

.cajaCliente1 {

    width: auto;
    height: auto;
    border: 1px solid grey;
    margin: 5px;

}

.cajaCliente2 {

    width: auto;
    height: auto;
    border: 1px solid grey;
    margin: 5px;
}

.tituloContacto{
    background-image: url(../assets/img/contactomobile.png);
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Nunito', sans-serif;
    font-style: bold;
    font-size: 20px;
}
.holaMensaje {
    width: auto;
    height: 249px;
    border: 1px solid grey;
    font-family: 'Nunito', sans-serif;
    font-style: bold;
    font-size: 23px;
    margin: 5px;
}

.tuNombre {
    width: auto;
    height: 92px;
    border: 1px solid grey;
    font-family: 'Nunito', sans-serif;
    font-style: bold;
    font-size: 23px;
    margin: 5px;

}
.tuEmail {
    width: auto;
    height: 92px;
    border: 1px solid grey;
    font-family: 'Nunito', sans-serif;
    font-style: bold;
    font-size: 23px;
    margin: 5px;

}
.Enviar {
    margin: 30px;
    width: 200px;
    height: 30px;

}
}